
body
{
padding: 20px;
text-align: justify;
background-color: white;
border-radius: 5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header
{
    text-align: center;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

img 
{
text-align: center;
border-radius: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2
{
    padding: 10px;
    text-align: center;
    background-color:rgb(251, 223, 167);
    border-radius: 10px;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h3
{
    padding: 20px;
    text-align: center;
    background-color:rgb(223, 232, 235);
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h4
{
    padding: 10px;
    text-align: center;
    background-color:rgb(163, 211, 248);
    border-radius: 10px;   
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h5
{
    padding: 10px;
    text-align: center;
    background-color:rgb(250, 233, 202);
    border-radius: 10px;   
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
p
{
    padding: 20px;
    text-align: center;
    background-color:rgb(223, 232, 235);
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

footer
{
    background-color:rgb(251, 223, 167);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

img
{
padding:10px;
border-radius: 20px;

}
.box 
{
    text-align: center;
}